.bk-btn[disabled] {
    text-decoration: line-through;
    opacity: var(--disabled-opacity);
}

.bk-btn-warning {
  background-color: #f0ad4e;
  border-color: #eea236;
  color: #fff;
}

.bk-btn-warning:hover {
  background-color: #ec971f;
  border-color: #d58512;
}

.bk-btn-default {
  background-color: var(--neutral-fill-rest);
  border-color: #ccc;
  color: var(--neutral-foreground-rest);
}

.bk-btn-default:hover {
  background-color: var(--neutral-fill-hover);
}

.bk-btn-light {
  background-color: var(--neutral-fill-rest);
  border-color: #ccc;
  color: var(--neutral-foreground-rest);
  opacity: var(--disabled-opacity);
}

.bk-btn-light:hover {
  background-color: var(--neutral-fill-hover);
  opacity: 1.0;
}

.bk-btn-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
}

.bk-btn-success:hover {
  background-color: #449d44;
  border-color: #398439;
}

.bk-btn-danger {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #fff;
}

.bk-btn-danger:hover {
  background-color: #c9302c;
  border-color: #ac2925;
}
