#main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#cy {
    flex: 60%;
    width: 800px;
    height: 600px;
    border: 1px;
    display: block;
    padding-left: 1em;
    padding-right: 1em;
    }
#simulators {
    flex: 15%;
    border-width: 0px;
}
#details {
    flex: 22%;
}
button {
    margin: 0.5em;
}
.icon {
    color: var(--color-bg);
    height: 1em;
}
#simulator_fields {
    border: 1px;
}
