#cy {
    width: 800px;
    height: 600px;
    border: 1px solid darkgrey;
    display: block;
    }
#simulators {
    width: 50%;
}
button {
    margin: 0.5em;
}
.icon {
    color: var(--color-bg);
    height: 1em;
}
